.Header {
  background-color: #282c34;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.DeveloperDetails {
  color: white;
  text-align: justify;
  padding-left: 25px;

}
.username {
  font-size: small;
}
.Trends {
  background-color: #282c34;
  text-decoration: none !important;
  text-align: center;

  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-wrap: wrap
}

.Trends-link {
  color: #fff;
}

.RepoLink {
  padding: 4px;
  font-weight: bold;
  font-size: 14px;
  width: auto;
  height: auto;
  font-family: Sans-Serif;
  background-color: white;
  border: 2px solid #4CAF50;
  color: #4CAF50;
  /* text-transform: uppercase; */
  transition: background-color 0.5s ease, color 1s ease;
  cursor: pointer;
  margin-bottom: 15px;
}

.RepoLink:hover {
  background-color: #4CAF50;
  color: white;
}
.RepoLink:active{
  border: 10px dotted;
}

.RepoDescription {
  font-size: 16px;
}