.Header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Trends {
  background-color: #282c34;
  text-align: center;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  color: white;
  flex-wrap: wrap
}

.FilterWrapper {
  width: 20%;
  padding: 0.1%;
  background-color: #282c34;
}